<h1><p>Create new Contact</p></h1>

<!-- #categorizes the information that is being sent to the server
# the inputs... the fields where we enter the data. -->

<form action='/add_contact' method='post'>
  <label for="first_name">First Name:</label>
  <input type='text' name='first_name'>
  <br>
  <label for="first_name">Last Name:</label>
  <input type='text' name='last_name'>
  <br>
  <label for="first_name">Email:</label>
  <input type='text' name='email'>
  <br>
  <label for="first_name">Note:</label>
  <input type='text' name='stuff_about_us'>
  <br>
  <input type='submit' value='New Contact'>
</form>
