<h1><p>Create new Contact</p></h1>

<!-- #categorizes the information that is being sent to the server
# the inputs... the fields where we enter the data. -->
<!-- note we are using method='post' to submit data to the server -->

<form action='/add_contact' method='post'>

  <label for="first_name">  First Name: </label>
  <input type='string' name='first_name'>
  <br>

  <label for="last_name"> Last Name:  </label>
  <input type='string' name='last_name'>
  <br>

  <label for="email_name">  Email:  </label>
  <input type='string' name='your_email'>
  <br>

  <label for="Note">  Note: </label>
  <input type='text' name='stuff_about_us'>
  <br>

  <label for="Age"> Age:</label>
  <input type='string' name='ages'>
  <br>


  <input type='submit' value='Submit New Contact'>

</form>
