
     <h4> <%= "There are #{@list.count} contacts"%> </h4>
       <% @list.each do |contact| %>
          <div>
             <%=contact.full_name%> | <%=contact.email%>
             <br>
             <a href="#">Edit</a> | <a href="#">Delete</a>
          </div>
       <% end %>
    
