<!DOCTYPE html>
 <html>

   <head>

     <meta charset="utf-8">

     <title>BitMaker CRM</title>

   </head>

   <body>

     <h1>Home</h1>

      <h2>  <a href="/about"> Go to about </a> </h2>
      <h2> <a href="/contacts"> Go to contacts </a> </h2>
      <h2>  <a href="/photos"> Go to photos </a> </h2>

   </body>

 </html>
