<!DOCTYPE html>
 <html>

   <head>

     <meta charset="utf-8">

     <title>BitMaker CRM</title>

   </head>

   <body>

     <h1>Home</h1>

        <a href="/about"> Go to about </a>
          <br>
        <a href="/contacts"> Go to contacts </a>
          <br>
        <a href="/photos"> Go to photos </a>
          <br>
   </body>

 </html>
