<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/styles.css">
      <title>BitMaker CRM</title>
  </head>
      <body>
        <header>
          <h1> Customer Relationship Manager Form </h1>

           <h2>  <a href="/about"> Go to about       </a> </h2>
           <h2>  <a href="/add_contact"> Add Contact </a> </h2>
           <h2>  <a href="/photos"> Go to photos     </a> </h2>

       </header>

       <main>

         <%= yield %>

       </main>

       <footer> This is the footer: copyright 2017 </footer>


      </body>
</html>
