
<h1> Here are the details: show_contact.erb </h1>

<h5> The contact full name is <%= @contact.full_name %>. <h5>

<h5> Additional Details... </h5>
  <ul>
    <li>email: <%=  @contact.email %></li>
    <li>notes: <%=  @contact.note  %></li>
    <li>id: <%=  @contact.id    %></li>
  </ul>
