h1 {
  font-size: 30px;
  background-color: grey;
  display: block;
  color: white;
  text-align: center;
}

h2 a {
  font-size: 25px;
  background-color: grey;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 30px;
}

ul {
  background-color: grey;
  font-size: 25px;
}

title {
  font-size: 40px;
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  border: 30px;
}

.contacts {
  display: block;
  background-color: pink;
  text-align: center;
  text-color: white;
}
